REACT_APP_API_BASE=http://localhost:3001
REACT_APP_COGNITO_AUTHORITY=https://cognito-idp.eu-central-1.amazonaws.com/eu-central-1_k24QkWw0J
REACT_APP_COGNITO_CLIENT_ID=3r2d76i925hph02s4uv8lv3t10
REACT_APP_COGNITO_DOMAIN=https://eu-central-1k24qkww0j.auth.eu-central-1.amazoncognito.com
REACT_APP_OIDC_REDIRECT_URI=http://localhost:3000
REACT_APP_OIDC_SCOPE=openid email profile
REACT_APP_LOGOUT_URI=http://localhost:3000
